
# ---------------------------------------------
# Global Variables
# Variables to be used for the entire migration process.
# ---------------------------------------------

PROJECT_ID="stock-data-ingess"
REGION="us-central1"
KEY_FILE=~/.ssh/gcp_vm_key  # Customize path if needed

# ---------------------------------------------
# Source PostgreSQL Database Configurations
# Add config related to your source Database
# ---------------------------------------------

SOURCE_PROFILE_NAME="source-postgresql-profile-testme1" # Name for the connection profile
SOURCE_POSTGRE_INSTANCE_NAME="testingdb" # If the source DB is a CloudSQL postgre DB
SOURCE_USER="postgres"
SOURCE_HOST="10.47.17.12"
SOURCE_PORT="5432"

# ---------------------------------------------
# Destination CloudSQL/AlloyDB Variables
# Add config related to your target CloudSQL(postgre) or AlloyDB 
# ---------------------------------------------

DESTINATION_PROFILE_NAME="destination-profile-testme1" #Name for the connection profile
#If destination is CloudSQL
DESTINATION_CloudSQL_INSTANCE_NAME="testingdb-alloy"
#Else if destination is AlloyDB
DESTINATION_ALLOYDB="testingdb-alloy"
DESTINATION_USER="postgres"
DESTINATION_HOST="10.47.16.26"
DESTINATION_PORT="5432"

# ---------------------------------------------
# Migration Job Variables
# Add config for the GCP Database Migration Service(DMS)
# ---------------------------------------------

MIGRATION_JOB_NAME="test-migration2"
MIGRATION_TYPE="CONTINUOUS" # 'CONTINUOUS', 'ONE_TIME'
MIGRATION_NETWORK_FQDN="projects/stock-data-ingess/global/networks/alloydbvpc"
# For reverse SSH Proxy
# Name of the VM to connect to source DB
# VM_NAME="name_of_the_vm" 
# IP Address of the VM
# VM_IP_ADDRESS="ip_address" 
# Port for the SSH connection
# VM_PORT="vm_port" 
# VPC name
# VPC="vpc name"

# ---------------------------------------------
# Data Validation VM Variables
# Add config for Vitural Machine which will run DVT
# ---------------------------------------------

SERVICE_ACCOUNT="dvt-sa"
ZONE="us-central1-a"
INSTANCE_NAME="dvt-validator2"
MACHINE_TYPE="e2-standard-8" # Choose a bigger machine if you are running row level validations
NETWORK_NAME="alloydbvpc"
SUBNET_NAME="alloydbvpc"
BOOT_DISK="200GB" 
DISK_TYPE="pd-standard"
IMAGE="projects/debian-cloud/global/images/debian-11-bullseye-v20240611" # VM Image

# ---------------------------------------------
# Data Validation Tool Variables
# Add config for DVT
# ---------------------------------------------

CONN_NAME="postgre_source"
DEST_CONN_NAME="alloydb_destination"
DVT_SOURCE_PASSWORD="Ironman@231092"
DVT_DEST_PASSWORD="Ironman@231092"
DB_NAME="mydatatesting"
BQ_DVT_DATASET="data_validator"
# list of schemas to run validations on.
# The validations will run for all the tables in these schemas
SCHEMAS=("public")  

